body {
  font-family: Arial, sans-serif;
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f5f5fa;
  margin: 0; 
}

.container {
  text-align: center;
}

.pcn {
  font-weight: 600;
  font-size: 3vw; 
  line-height: 1.2; 
  color: #33333b;
  margin-bottom: 3vh; 
  font-style: bold;
}

p {
  font-weight: 200;
  font-size: 1.5vw;
  line-height: 1.5; 
  color: #61677A;
  margin-bottom: 2vh; 
  font-style: bold;
}

#pdf-form {
  margin-top: 5vh; 
}

.file-input-button {
  font-size: 1.5vw; 
  display: inline-block;
  margin-bottom: 3vh; 
  cursor: pointer;
  color: #5755FE; 
  font-weight: bold;
  text-decoration: underline;
}

.file-input-button:hover {
  color: #D20062;
}



#pdf-file {
  display: none;
}

#convert-btn {
  background-color: #D6589F;
  color: #fff;
  padding: 3vh 7vw; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2vw;
}

#convert-btn:hover {
  background-color: #D20062;
}
