body {
  font-family: Arial, sans-serif;
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f5f5fa;
  margin: 0; 
}

.container {
  text-align: center;
}

.pcn {
  font-weight: 600;
  font-size: 3vw; 
  line-height: 1.2; 
  color: #33333b;
  margin-bottom: 3vh; 
  font-style: bold;
}

p {
  font-weight: 200;
  font-size: 2vw;
  line-height: 1.5; 
  color: #61677A;
  margin-bottom: 2vh; 
  font-style: bold;
}

#pdf-form {
  margin-top: 5vh; 
}

#pdf-file {
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  color: black;
  background-color: none;
  border: none;
  padding: 10px;
}

#convert-btn {
  background-color: #D6589F;
  color: #fff;
  padding: 3vh 7vw; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2vw;
}

#convert-btn:hover {
  background-color: #D20062;
}
